@import '../../styles/variables';

.singleWorkout{
    &__time{
        color: $gray;
        margin-bottom: 20px;
    }
    &__link{
        text-decoration: none;
        >div{
            margin-bottom: 20px;
        }
    }
}