@import '../../styles/variables';

.field{
    font-size: 18px;
    padding: 15px 15px;
    border: 1px solid $light-black;
    color: $black;
    outline: none;
    transition: all 0.5s ease;
    &::placeholder{
        color: $gray;
    }
}