.auth{
    &__form{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        input{
            margin-bottom: 20px;
        }
        &_btns{
            display: flex;
            justify-content: flex-start;
            button{
                &:not(:last-child){
                    margin-right: 20px;
                }
            }
        }
    }
}